@font-face{
    font-family: 'Mitra';
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BMitra.woff') format('woff'),
    url('../fonts/BMitra.ttf') format('truetype');
}
body {
	background-color: #e74c3c;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-image: url(../img/bg.png);
	
	direction: rtl;
	font-family: 'Mitra';
}
div.bg{
	background-size: 40% auto;
	background-position: -800px 0px;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png);
	height: 100%; 
}
.showonmobile{
	display: none;
}
div.describe{
	width: 50%;
	display: inline-block;
	margin-right: 1.6%;
	text-align: center;
	color: white;
	font-family: 'Mitra';
	font-size: 2em;
}
div.login {
	padding: 1.6%;
	background-color: #fff;
	margin-top: 5.6%;
	margin-right: 5.6%;
	text-align: center;
	width: 15%;
	display: inline-block;
	min-height: 35%;
}
div.login input{
	padding: 5px;
	text-align: center;
	width: 100%;

}
div.login input[type="submit"]{
	background-color: #9b59b6;
	border:solid 1px #f9f9f9;
	color: white;
	width: 100%;
	text-align: center;
	min-height: 50px;
}
div.login input[type="submit"]:hover{
	cursor: pointer;
	opacity: 0.6;
}
a{
	color: #1abc9c;
	border-bottom: dotted 1px;
	text-decoration: none;
	text-align: center;
	margin: auto;

}
input{
    font-family: 'Mitra';
}

span#user_count{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 60px;
}

div#footer{
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    right: 10px;
}


@media(min-width: 1000px){
	body{
		background-image: url(../img/bg.png);
	}
    input{
        font-size: 20px;
    }
}
@media(max-width:1000px){
	body{
		
		width: 100%;
		overflow-x: hidden;
		font-family: 'Mitra';
		background-color: #fff;
		background-image: none;
        font-size: 2.5em;
	}
        span.warn{
        color: #F50C75;
    }
    input{
        padding-left: 50px !important;
        padding-right: 50px !important;
        min-height: 55px ;
        text-align: center !important;
        font-family: 'Mitra';
        font-size: 2em;
    }
	div.login{
		background: none;
		margin:0px;
		width: 100%;
	}
	div.login input {
		width: 85%;
	}
	div.login input[type="submit"]{
		width: 85%;
	}
	.showonmobile{
		display: block;
	}
	div.describe{
		display: none;
	}
	img.logo-m{
		width: 35%;
		height: auto;
	}
}
@media(max-width: 600px){
	img.logo-m{
	    width: 85%;
		height: auto;
	}
    input{
        padding-left: 50px !important;
        padding-right: 50px !important;
        min-height: 55px ;
        text-align: center !important;
        font-family: 'Mitra';
        font-size: 2em;
    }

}

