@font-face{
    font-family: 'Mitra';
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BMitra.woff') format('woff'),
    url('../fonts/BMitra.ttf') format('truetype');
}
body{
	background :#ecf0f1;
	font-family: 'Mitra' !important;
	margin: 0;
	padding: 0;
    direction: rtl;
}
div.header{
	background: #34495e;
	line-height: 50px;
	color: #fff;
}
div.rtl{
	float: right;
	margin-right: 25px;
}
div.ltr{
	margin-left: 25px;
    direction: ltr;
}
div.header span{
	margin: 10px;
}
h1,h2{
	text-align: center;
}

table {
	width: 95%;
	margin: auto;
	margin-top: 25px;
    direction: rtl;
}
table td {
	border: 1px solid #ccc;
	text-align: center;
	height: 50px;
	background-color: #2ecc71;
	color: white;
}
td:hover{
	cursor: pointer;
}
div#success{
	position: fixed;
	width: 100%;
	height: 100%;
	right: 0;
	top:0 ;
	background: black;
	text-align: center;
}
div#popup {
	width: 65%;
	height: 45%;
	margin: auto ;
	margin-top: 25%;
	text-align: center;
	background: #fff;
	border-radius: 5px ;
}

button:hover{
	cursor: pointer;
}
td[data-location="0"]{
	/*background-color: #e74c3c;*/
	background-color: #eee;
	color: #454545;
}
button.accday,button.accfood{
	background-color: #2ecc71;
	border:none;
	border-radius: 5px;
	padding-left: 1.6%;
	padding-right: 1.6%;
	font-family: 'Mitra';
	text-align: center;
	color: white;
	font-size: 1.2em;
	-webkit-box-shadow: 0 -5px 35px #2eff71;
     -moz-box-shadow: 0 -5px 35px #2eff71;
          box-shadow: 0 -5px 35px #2eff71;
    border-bottom: 3px #27ae60 solid;
    vertical-align: top;
}
button:active{
	border-bottom: none;
	margin-top:3px;
	box-shadow: none; 

}
button[disabled]{
	background-color: #ccc;
	color: #999999;
	box-shadow: none;
	border-bottom-color: #aaa;
}

div.btn{
	text-align: center;
	margin-top: 25px;
}
hr {
	width: 85%;
	color: #ccc;
	border:1px solid #ccc;
}

#sortable1, #sortable3,#sortable2 {
    vertical-align: top;
	list-style: none; 
	margin-right: 10px;  
	padding: 30px; 
	width: 143px;
	display: inline-table;
	vertical-align: top;
}
#sortable3 {
	background: #e74c3c;
}
#sortable2 {
	background:#f1c40f;
}
#sortable1{


    background: #2ecc71;
}
#sortable1 li, #sortable3 li,#sortable2 li { 
  	margin: 5px;
  	padding: 5px; 		
	font-size: 1.2em; 
  	width: 120px; 
  }
#sortable1 li:hover , #sortable2 li:hover,#sortable3 li:hover{
	cursor:move;
}
div.sort{
	background: none;
	text-align: center;
}
td.fav{
	background: #e74c3c;
}
p.describe{
	text-align: center;
	margin:auto;
    font-size: 20px;
}
div.footer{
	min-height: 35%;
 	width: 85%;
 	border-top: 1px solid #ccc;
 	margin: auto;
 	margin-top: 25px;
 	text-align: center;
}
a{
	color: #1abc9c;
	border-bottom: dotted 1px;
	text-decoration: none;
	text-align: center;
	margin: auto;

}

ul.locations{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	
}
ul.locations li{
	text-align: center;
	margin: 0px;
	background: #eee;
	border-bottom: 1px solid #ccc;
	padding: 3px;
	color: #454545;

}
ul.locations li select {
	margin: 0px;
	padding: 3px;
}
select {
	font-family: inherit;
	font-size: 1.2em;
	padding: 3px;
	border: none;
	background: inherit;
	color: inherit;
    width: 100%;
	text-align: center; !important
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    direction: rtl;

}
select:hover{
	cursor: pointer;
}
option{
	text-align: center;
}
input {
	margin: 0;
  font-size: 100%;
  vertical-align: middle;
  *overflow: visible;
  line-height: normal;
  display: inline-block;
  height: 25px;
  padding: 4px 6px !important;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: baseline;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
          font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 206px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;

}
input[type="submit"]{
	width: 10%;
	height: 25px;
	background: #2ecc71;
	color: #fff;
	border: none;
	font-family: 'Mitra';
	vertical-align: baseline;
	padding: 5px;
	font-size: 18px;
}
input[type="submit"]:hover{
	cursor: pointer;
	background-color: #1abc9c;
}
input[type="email"]:focus,
input[type="password"]:focus{
		border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
label{
	line-height: 20px;
	vertical-align: middle;
	font-family: sans-serif, "Mitra";
}

@media(max-width: 1000px){
    #sortable1,#sortable1,#sortable3 {
        display: block;
        margin: auto !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        vertical-align: top;
    }
    html{
        margin: 0px;
        padding: 0;
    }
    body{
        padding: 0;
        margin: 0;
    }
    div.header{
        margin: 0px;
        right: 0px;

    }
    div.ltr{
        text-align: center;
        margin-right: 0!important;
        padding: 0;
        width: 100%;
        margin: 0 !important;
    }
    div.rtl{
        text-align: center;
        padding: 0!important;
        margin: 0 !important;
        width: 100%;
    }
    div.content{
        margin-right: 16px;
        margin-left: 16px;
    }
}