<html>
<head>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    {%load staticfiles%}
	<meta charset="utf-8">
	<link rel="icon" href="{%static 'img/logo-m.png'%}">
	<title>گارسون| خوش آمدید</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<script src="{%static 'js/jquery-1.9.1.js'%}"></script>
</head>
<body>
<div class="bg">
	<div class="login">
		<div class="showonmobile">
		<h1>گارسون</h1>
		<h3>رزرو اتوماتیک غذای دانشجویی</h3>
		<p><img class="logo-m" src="{%static 'img/logo-m.png'%}"></p>

		</div>
		<form method="post" action="/authentication/login/">
            <h2>وارد شوید</h2>
        نام کاربری و رمز عبور سامانه ی رزرو غذای دانشگاه را وارد کنید:
            {% csrf_token %}
            <input name="next" type="hidden" value="{{NEXT}}">
			<p><input class="form-control" tabindex="1" name="username" type="tel" placeholder ="شماره دانشجویی"></p>
			<p><input class="form-control" tabindex="0" name="password" type="password" placeholder="رمز عبور"></p>
			<p><input	type="submit" value="ورود"></p>
			<span class="warn" style="font-family: Mitra,'Courier New'">
            {% if msg %}
                {% if msg == 'wrong_user_pass' %}
                    شماره ی دانشجویی یا رمز عبور اشتباه است! <br>
                    با رمز عبور stu وارد شوید.
                {% else %}
                    خطایی رخ داد!!!
                {% endif %}
            {% endif %}
            </span>
		</form>
	</div>
    <span id="user_count">
        {{ user_count }}
    </span>
	<div class="describe">
		<h1>گارسون</h1>
		<h3>رزرو اتوماتیک غذای دانشجویی</h3>
        <h4>(علموص)</h4>
	</div>
    <div id="footer">
        کاری از چندتا از بروبچه های ورودی ۹۲ دانشکده کامپیوتر دانشگاه علم و صنعت ایران
    </div>
</div>
	<script>
	 var x = window.innerWidth ;
	 $(document).ready(function(){
	 	if(x > 650){
	 		$('div.bg').animate({'background-position':'0px'},1200);
	 	}
	 	else{
	 		$('div.bg').css('background-image','none');
	 	}
	 	window.onResize = function(){
	 		$('div.bg').css('background-position','0px');
	 	}
	 })
	</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56020224-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>