<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/test.css" />
    <title></title>
</head>
<body>
User Panel <br>
<a href="/authentication/logout">Logout</a>
<div>
    سلام {{name}}
    <br>
    اعتبار شما:
    {{credit}}
    تومن
    <form method="post" action="change_days/">
        {% csrf_token %}
        <br><label>Sat: </label>
            b<input type="number" name="sat_b">
            l<input type="number" name="sat_l">
            d<input type="number" name="sat_d">
        <br><label>Sun: </label>
            b<input type="number" name="sun_b">
            l<input type="number" name="sun_l">
            d<input type="number" name="sun_d">
        <br><label>Mon: </label>
            b<input type="number" name="mon_b">
            l<input type="number" name="mon_l">
            d<input type="number" name="mon_d">
        <br><label>Tue: </label>
            b<input type="number" name="tue_b">
            l<input type="number" name="tue_l">
            d<input type="number" name="tue_d">
        <br><label>Wed: </label>
            b<input type="number" name="wed_b">
            l<input type="number" name="wed_l">
            d<input type="number" name="wed_d">
        <br><label>Thu: </label>
            b<input type="number" name="thu_b">
            l<input type="number" name="thu_l">
            d<input type="number" name="thu_d">
        <br><input type="submit">
    </form>
</div>
<div>
    <form method="post" action="change_food_order/">
        {% csrf_token %}
        fav:<input type="text" name="food_list_1">
        meh:<input type="text" name="food_list_2">
        ban:<input type="text" name="food_list_3">
        <input type="submit">
    </form>
</div>
<div>
    <form method="post" action="change_email/">
        {% csrf_token %}
        <input type="email" name="new_email" placeholder="Enter your email">
        <input type="submit">
    </form>
</div>
</body>
</html>