<html>
<head>
    {%load staticfiles%}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
	<title>گارسون | صفحه کاربری</title>
	<link rel="icon" href="{%static 'img/logo-m.png'%}">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{%static 'css/user.css'%}">
    <meta name="viewport" content="width=device-width,initial-scales=1">
	<script src="{%static 'js/jquery.js'%}"></script>
	<link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
	<script src="{%static 'js/jquery-ui.js'%}"></script>


</head>
<body>
	<div class="header">
		<div class="rtl">
		<span class="name">{{ name }}</span>
		<span class="credit">اعتبار شما : {{ credit }} تومان</span>
		<span class="id">{{ uni_id }}</span>
        <span class="id"><a href="/authentication/logout/">خروج</a> </span>
		</div>
		<div class="ltr">
            <form method="post" action="/account/change_email/">
                {% csrf_token %}
                <input class="btn btn-default" type="submit" value="ثبت">
                <input class="form-control" type="email" name="new_email" placeholder="ایمیل خود را وارد کنید" value="{{ email }}">
                <label for="email">ایمیل </label>
            </form>
		</div>
	</div>
    <div class="content">
    <h1>
        گارسون (نسخه آزمایشی)
    </h1>
    <br>
	<h2>جدول هفتگی</h2>
	<p class="describe">
        تو کدوم روز ها میخوای غذات رو رزرو کنم؟ روی هر روزی که میخوای کلیک کن و سلف رو انتخاب کن!
        <br>
        یادت نره دکمه ثبت رو بزنی!!!
    </p>
	<table>
		<tr>
			<th></th>
			<th>شنبه</th>
			<th>یکشنبه</th>
			<th>دوشنبه</th>
			<th>سشنبه</th>
			<th>چهارشنبه</th>
			<th>پنجشنبه</th>
		</tr>

		<tr>
			<td id="time"style="background:#3498db;color:#fff;">صبحانه</td>
            {% for day in breakfast %}
                <td class="day" data-day="{{ forloop.counter }}" data-time="0" data-location="{{ day }}">
                    <select>
                        <option data-location="0" selected="selected">نمیخواهم</option>
                        {% for self in all_selves %}
                            {% if self.id_ == day %}
                                <option data-location="{{ self.id_ }}" selected="selected">{{ self.name }}</option>
                            {% else %}
                                <option data-location="{{ self.id_ }}">{{ self.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            {% endfor %}
		</tr>
		<tr>
			<td id="time" style="background:#3498db;color:#fff;">نهار</td>
            {% for day in lunch %}
                <td class="day" data-day="{{ forloop.counter }}" data-time="1" data-location="{{ day }}">
                    <select>
                        <option data-location="0" selected="selected">نمیخواهم</option>
                        {% for self in all_selves %}
                            {% if self.id_ == day %}
                                <option data-location="{{ self.id_ }}" selected="selected">{{ self.name }}</option>
                            {% else %}
                                <option data-location="{{ self.id_ }}">{{ self.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            {% endfor %}
		</tr>
		<tr>
			<td id="time" style="background:#3498db;color:#fff;">شام</td>
            {% for day in dinner %}
                <td class="day" data-day="{{ forloop.counter }}" data-time="2" data-location="{{ day }}">
                    <select>
                        <option data-location="0" selected="selected">نمیخواهم</option>
                        {% for self in all_selves %}
                            {% if self.id_ == day %}
                                <option data-location="{{ self.id_ }}" selected="selected">{{ self.name }}</option>
                            {% else %}
                                <option data-location="{{ self.id_ }}">{{ self.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            {% endfor %}
		</tr>
		
	</table>
	<div class="btn">
	<button class="accday">ثبت تغییرات</button>
	</div>
	<div class="pop">
		<select data-day="" data-time="">
			<option data-val="1">سلف مرکزی</option>
			<option data-val="12">خوابگاه حکیمیه</option>
			<option data-val="4">کوی بسیج</option>
			<option data-val="0">نمیخواهم</option>
		</select>

		<button class="submit">تغییر</button>
	</div>

	<hr>


	<h2>غذا های مورد علاقه</h2>
	<p class="describe">
        غذا هارو مرتب کن تا بدونم چی برات رزرو کنم :)
        اونایی که دوست نداری رو بذار توی قرمز اوتایی که خیلی دوست داری بذار توی سبز
        (ترتیبش مهمه!!)
        اوناییم که برات فرق ندارن رو بذار تو زرد.
        <br>
        اول سعی میکنم غذایی که بیشتر دوست داری رو رزرو کنم.
        اگه نداشت بین اونایی که برات فرقی نداره شانسی یکی رو برات میگیرم.
        غذا هایی که دوست نداری هم هیچ موقع برات رزرو نمیکنم
    </p>
	<div class="sort">
		<ul id="sortable1" class="droptrue">
            {% for food in food_list_name_1 %}
            <li data-foodType="{{ food.id_ }}" class="ui-state-default">{{ food.name }}</li>
            {% endfor %}
		</ul>
		<ul id="sortable2" class="droptrue">
            {% for food in food_list_name_2 %}
            <li data-foodType="{{ food.id_ }}" class="ui-state-default">{{ food.name }}</li>
            {% endfor %}
		</ul>
		<ul id="sortable3" class="droptrue">
            {% for food in food_list_name_3 %}
            <li data-foodType="{{ food.id_ }}" class="ui-state-default">{{ food.name }}</li>
            {% endfor %}
		</ul>
		

	</div>
	<div style="text-align:center;">
	<button class="accfood">ثبت تغییرات</button>
    <div id="msgAlert" class="alert alert-success"> یک پیغام موفق </div>
    <div id="msgAlertDanger" class="alert alert-danger"> یک پیغام موفق </div>
	</div>
    </div>
	<div class="footer">
		کاری از گروه <a href="http://rishe.co">ریشه</a>
	</div>

	<script>
  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });
 
    $( "#sortable1, #sortable3, #sortable2" ).disableSelection();
  });
  </script>

	<script>
		$(document).ready(function(){

            $(".alert").slideUp(1) ;


            $('select').change(function(){
				var location = $(this).children('option:selected').attr('data-location');
				$(this).parent('td').attr('data-location',location);
			});
			$('button.submit').click(function(){
				var option = $('div.pop option:selected');
				var text = option.text() ;
				var day = $('div.pop select').attr('data-day');
				var time = $('div.pop select').attr('data-time');
				var target = $('td[data-day="'+day+'"]'+'[data-time="'+time+'"]');
				target.text(text);
				target.attr('data-location',option.attr('data-val'));
				$('div.pop').hide();
			});
            $('button.accday').click(function(){
                var data = {}
                var tds = $('td[class="day"]');

                for(var i=0;i<tds.length;i++){
                    var key = ""
                    switch (parseInt(tds[i].getAttribute('data-day'))){
                        case 1: key="sat"; break;
                        case 2: key="sun"; break;
                        case 3: key="mon"; break;
                        case 4: key="tue"; break;
                        case 5: key="wed"; break;
                        case 6: key="thu"; break;
                    }
                    switch (parseInt(tds[i].getAttribute('data-time'))){
                        case 0: key+="_b"; break;
                        case 1: key+="_l"; break;
                        case 2: key+="_d"; break;
                    }
                    data[key] = parseInt(tds[i].getAttribute('data-location'));
                }

                $.post("/account/change_days/",
                    data,
                    function(data,status){
                        console.log("Data: " + data + "\nStatus: " + status);
                });
            });
            $('button.accemail').click(function(){});
            $('button.accfood').click(function(){
               var list1="";
               var ul1 = $('ul#sortable1').children('li');
               for(var i=0;i<ul1.length;i++){
                   var text = ul1[i].getAttribute('data-foodType').toString();
                   list1 += text+" " ;
               }

               var list2="";
               var ul2 = $('ul#sortable2').children('li');
               for(var i=0;i<ul2.length;i++){
                   var text = ul2[i].getAttribute('data-foodType').toString();
                   list2 += text+" " ;
               }

               var list3="";
               var ul3 = $('ul#sortable3').children('li');
               for(var i=0;i<ul3.length;i++){
                   var text = ul3[i].getAttribute('data-foodType').toString();
                   list3 += text+" " ;
               }

               console.log(list1);
               console.log(list2);
               console.log(list3);

                $.post("/account/change_food_order/",
                {
                    food_list_1:list1,
                    food_list_2:list2,
                    food_list_3:list3
                },
                function(data,status){
                    if (status == "success") {
                        $("#msgAlert").html(data).slideDown(500)
                    }
                    else {
                        $("#msgAlertDanger").html(data).slideDown(500)
                    }

                    setTimeout(function () {
                        $(".alert").slideUp(500)
                    } , 1500)


                });
            });
		});

	</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56020224-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>